<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<script src="../partials/"></script>
<div class="container">
	<hr>
	<h2>Contatos</h2>
	<a href="/contatos/new" class="btn btn-success">Criar nova Artigo</a>
	<hr>
	<table class="table table-bordered">
		<caption>Contatos</caption>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Numero</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			
			<% contatos.forEach(contato => { %>
				<tr>
					<td><%= contato.id %></td>
					<td><%= contato.nome %></td>
					<td><%= contato.numero %></td>
					<td>
						<a class="btn btn-warning" href="/contatos/edit/<%= contato.id %>">Editar</a>
						<form action="/contatos/delete" method="POST" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
							<input type="hidden" name="id" value="<%= contato.id %>">
							<button class="btn btn-danger">Deletar</button>
						</form>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</div>

<%- include('../partials/footer.ejs') %>

<script>
	confirmarDelecao = (event, form) => {
		event.preventDefault()
		const decision = confirm('Voçê que deletar esta contato?')
		if(decision) {
			form.submit()
		}
	}
</script>